{% extends "base.html" %}

{% block title %}项目进度{% endblock %}

{% block navbar %}
<section class="content-header">
    <h1>项目进度</h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> 当前位置</li>
        <li class="active">Bug</li>
    </ol>
</section>
{% endblock %}

{% block content %}
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 1200px;height:500px;text-align: center" ></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
         var option = {
            title: {
                text: '项目--进展(h)关系图'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: ['项目1', '项目2', '项目3', '项目4', '项目5']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: ['10', '100', '200', '300', '500', '1000', '2000']
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    name: '项目1',
                    type: 'line',
                    stack: '项目进展',
                    data: [120, 132, 101, 134, 90, 230, 210]
                },
                {
                    name: '项目2',
                    type: 'line',
                    stack: '项目进展',
                    data: [220, 182, 191, 234, 290, 330, 310]
                },
                {
                    name: '项目3',
                    type: 'line',
                    stack: '项目进展',
                    data: [150, 232, 201, 154, 190, 330, 410]
                },
                {
                    name: '项目4',
                    type: 'line',
                    stack: '项目进展',
                    data: [320, 332, 301, 334, 390, 330, 320]
                },
                {
                    name: '项目5',
                    type: 'line',
                    stack: '项目进展',
                    data: [820, 932, 901, 934, 1290, 1330, 1320]
                }
            ]
        };
         myChart.setOption(option);
    </script>
{% endblock %}


{% block scripts %}

{% endblock %}

